!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
  
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="en">
  
//if IE 8
  <html class="no-js lt-ie9" lang="en">

html(lang="en" , manifest="cache.manifest")
  
  head
    meta(charset='utf-8')
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    
    link(rel='stylesheet', href='/application.css', type='text/css', charset='utf-8')

    script.
      (function() {
        var config = {
          kitId: 'ocd1vwp',
          scriptTimeout: 3000
        };
        var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
      })();


    title Rodco S.A. || ERP
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    //link(rel='icon', type='image/ico', href='favicon.ico')

    //if lt IE 9
      <link rel="stylesheet" href="src/stylesheets/ie.css">
    
    //if lt IE 9
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  
    script(src="http://js.pusher.com/1.12/pusher.min.js")
    
    script(src='/application.js', type='text/javascript', charset='utf-8')

    script(type='text/javascript', charset='utf-8')
      window.addEventListener('load', function(e) {
        
        window.applicationCache.addEventListener( 'progress', function(e) {
          if(exports && exports.app){
            //exports.app.showUpdating();
          }
        });
      
        window.applicationCache.addEventListener( 'updateready', function(e) {
            try{
                window.applicationCache.swapCache();
                window.location.reload();
            }
            catch(error){
              window.location.reload();
            }
        });
      });

    script(type='text/javascript', charset='utf-8')
      var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
      analytics.load("studpw6gry");

    script(type='text/javascript', charset='utf-8')
      
      var jQuery  = require("jqueryify");
      var exports = this;
      jQuery(function(){
        var App = require("index");
        var ErrorManager = require("managers/errorManager");
       
        exports.app =  new App({ el: $(".appCanvas") , options: { key: "1ks"  !{jsvars} }});

      });


  body
    != body
